/*example of the src: url(../../../fonts/Araboto-Thin-400.ttf)*/

/*@font-face {
  font-family: '';
  font-weight: ;
  src: local('Araboto'), url() format('truetype');
  font-display: swap;
}

@font-face {
  font-family: '';
  font-weight: ;
  src: local('Araboto'), url() format('truetype');
  font-display: swap;
}

@font-face {
  font-family: '';
  font-weight: ;
  src: local('Araboto'), url() format('truetype');
  font-display: swap;
}

@font-face {
  font-family: '';
  font-weight: ;
  src: local('Araboto'), url() format('truetype');
  font-display: swap;
}

@font-face {
  font-family: '';
  font-weight: ;
  src: local('Araboto'), url() format('truetype');
  font-display: swap;
}

@font-face {
  font-family: '';
  font-weight: ;
  src: local('Araboto'), url() format('truetype');
  font-display: swap;
}*/
